{% trans_default_domain 'PrestaMailReceiverBundle' %}
{% set admin = form.parent.parent.vars['sonata_admin'].admin %}
<h4>{{ admin.labelTranslatorStrategy.label(value, 'rule.action', 'label')|trans }}</h4>
